.control-label-collapse {
    padding: 5px;
    margin-left: 0;
    color: rgb(0, 82, 204);
}

.perm-select {
    font-size: 12px;
    .checkbox-inline {
        margin-left: 10px;
        margin-bottom: 5px;
    }
}
