@import "base/variables";

@import "components/fms-home";
@import "components/fms-nav";
@import "components/fms-tabs";

@import "pages/pages/fms-page-item";
@import "pages/pages/fms-page-list";

@import "pages/dashboard/fms-dashboard";
@import "pages/dashboard/fms-conversation-area";
@import "pages/dashboard/fms-message-form";
@import "pages/dashboard/fms-client-list";
@import "pages/dashboard/fms-message-item";
@import "pages/dashboard/fms-client-information";
@import "pages/dashboard/fms-vertical-nav";
@import "pages/dashboard/fms-info-chat";

@import "pages/posts/fms-post-item";
@import "pages/posts/fms-posts";

// Components

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
.button:hover {
    background-color: #006282;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

