@import "base/variables";
@import "components/fms-page-item";
@import "components/fms-home";
@import "components/fms-page-list";
@import "components/fms-dashboard";
@import "components/fms-client-item";

// Components

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
.button:hover {
    background-color: #006282;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}

//Navigation
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-brand:hover {
    color: #1abc9c !important;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}
.navbar-brand {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}
#login-button:hover {
    cursor: pointer;
}