.dashboard {
    min-width: 725px;
    min-height: 525px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f1f2f3;
    height: calc(100vh - 61px);
    display: flex;
    margin: 0 -15px;
}
.dashboard::-webkit-scrollbar {
    display: none;
}
.notifiy-no-conversation {
    font-size: 20px;
    text-align: center;
    margin-top: 128px;
}
