.settings-wrapper {
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
  input {
    background-color: #fafbfc;
  }
  textarea {
    background-color: #fafbfc;
  }
  .active {
    display: block;
    color: black;
    font-weight: 600;
    border-left: 3px solid #e36209;
  }
  .nav-link:hover {
    background-color: #f0f5f5;

  }
  .count-item {
    margin-left: 6px;
    margin-right: 28px;
  }

  .fms-block {
    padding: 0 1em 0.5em;
  }

  .setting-header {
    color: black;
    font-size: 24px;
    margin-bottom: 0.5em;
    font-weight: normal;
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 8px;
  }
  .delete-project {
    font-weight: 600;
    color: #cb2431;
  }

}

.tag-item-wrapper {
  padding: 5px 1em;

  * {
    display: inline-block;
    vertical-align: middle;
  }

  .color-preview {
    width: 40px;
    height: 34px;
    border: 1px solid black;
  }

  .tag-name {
    margin-left: 5px;
    min-width: 100px;
  }

  form {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 100px;

    .form-group {
      margin: 0;
    }
  }
}

.setting-sidebar {
  border: 1px solid #cecece;
  border-radius: 5px;

  ul {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    padding: 10px;

  }

  .nav-link {
    text-decoration: none;
    margin-left: -40px;
    border-bottom: 1px solid #e1e4e8;
    display: block;
    // color:#0366d6;
  }
}

.danger-zone {
  margin-top: 50px;
}

.danger-zone-body {

  p {
    display: block;
    padding: 18px 3px 3px 3px;

  }
  button {
    display: block;
    color: #cb2431;
    font-weight: 600;
    background-color: #fafbfc;
    width: 84px;
  }
  button:hover {
    color: #fff;
    background-color: #b5202c;
  }
}

.noti {
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  .col {
    border-bottom: 1px solid #e1e4e8;
  }
  .col:last-child {
    border-bottom: none;
  }
  span {
    font-weight: 600;

  }
}

.delete-button {
  float: right;
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  line-height: 24px;
  color: #cb2431;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: 15px;
}

.disable-link {
  cursor: not-allowed;
  color: darkgray;
}

.body-confirm {
  button:last-child {
    display: inline-block;
    float: right;
    color: #cb2431;
    font-weight: 600;
    background-color: #fafbfc;
    border: 1px solid #ccc;
  }
  button:last-child:hover {
    color: #fff;
    background-color: #b5202c;
  }
}

.confirm-modal {
  margin-top: 14%;
}

.button-common {
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

.fms-page {
  .page-item {
    margin-left: 0px;
  }
  button {
    margin-top: 9px;
  }
}
