.settings {
  .ibox-title {
    border-style: none;
  }
  .title {
    font-weight: 600;
    font-size: 15px;
    padding-left: 64px;
  }
  .ibox-content {
    .spin-wrapper {
      padding: 15px;
    }
    .page-item-setting {
      padding: 12px 0;
      font-size: 15px;
      margin: 0 10px;
      border-bottom: 1px solid #efefef;
      display: flex;
      align-items: center;
      .avatar {
        width: 45px;
        height: 45px;
        display: inline-block;
      }
      .avatar-image {
        border-radius: 50%;
        width: 45px;
        height: 45px;
      }
      .page-name {
        margin-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
      }
      .add-icon {
        width: 22px;
        height: 22px;
        margin-left: 12px;
      }
      .delete-icon {
        color: #cecece;
        width: 27px;
        height: 27px;
        padding: 6px 0 0 10px;
      }
      .spin-wrapper {
        padding: 0;
      }
    }
  }
}