.settings {
  .ibox-title {
    border-style: none;
  }
  .ibox-content {
    .page-item-setting {
      padding: 15px 0;
      font-size: 15px;
      margin: 0 15px;
      border-bottom: 1px solid #efefef;
    }
  }
  .delete-shop {
    background-color: white;
    padding: 20px 75px;
    margin-bottom: 20px;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    &:hover {
      background-color: #ed5565;
      color: white;
      cursor: pointer;
    }
  }
}