.fms-nav {

  // .navbar-nav  li a:hover {
  //     color: #A9D3EF !important;
  // }
  .navbar-brand {
      font-family: Courier New, Courier, monospace;
      font-weight: bold;
      font-size: 20px;
      color: white !important;
  }
  // .navbar-default {
  //   background-color: #3499DB;
  //   border: none;
  // }
  .active {
    border-bottom: 1px solid white;
  }
}
