#client-list {
    display: inline-block;
    width: 27%;
    min-width: 300px;
    border-right: 1px solid;
    height: 89vh;
    border-color: #cecece;
}
#conversation-area {
    width: 73%;
    min-width: 73%;
    float: right;
}
#chat-area {
    width: 100%;
    padding: 8px;
    padding-bottom: 0px;
    background-color: #ececec;
    height: 73vh;
    max-height: 73vh;
    overflow: scroll;
}
#input-message-area {
    border-top: 1px solid #cecece;
    padding: 8px;
    width: 100%;
    height: 16vh;
}