.vertical-nav {
  background-color: white;
  max-width: 54px;
  min-width: 54px;
  height: 100%;
  float: left;
  border-right: 1px solid #cacaca;
  .filter-item {
    position: relative;
    span {
      display: inline-block;
      position: absolute;
      top: 12px;
      right: 8px;
      font-size: 10px;
      padding: 0 4px;
      color: white;
      background-color: #f03d25;
      border-radius: 4px;
    }
  }
}
.vertical-nav-item {
  cursor: pointer;
  width: 54px;
  height: 54px;
  padding: 16px 16px;
}
.vertical-item-active {
  background: #e1e3e5;
  border-right: 1px solid #cacaca;
}
