.loginForm {
    padding: 0;
}

.ibox-content {
    border: none;
}
.modal-body {
    .tabs-container .nav-tabs > li {
        width: 50%;
    }
    .loginForm {
        button {
            margin-left: 0;
        }
    }
}

.nav-tabs > li > a {
    margin-right: 0;
}