//@import "theme/all_style";

.fms-hidden {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.top-right-0-1 {
  top: 8px !important;
  right: 0;
  .alert-success {
    color: white;
    background-color: #1ab394;
    min-width: 290px;
  }
  i {
    opacity: 1 !important;
  }
  button {
    opacity: 1 !important;
  }
}