@import "bootstrap";

@import "i-check/green";
@import "i-check/square";

@import "animate";

@import "colors";

@import "theme/all_style";

.fms-hidden {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.top-right-0-1 {
  top: 8px !important;
  right: 0;
  .alert-success {
    color: white;
    background-color: #1ab394;
    min-width: 290px;
  }
  i {
    opacity: 1 !important;
  }
  button {
    opacity: 1 !important;
  }
}

.primary-background {
  background-color: #1ab394;
}

.required-field:after {
  content: ' *';
  color: red;
}

.draftJsEmojiPlugin__emoji__2oqBk {
  font-size: 24px;
}

.draftJsEmojiPlugin__emojiSelectButton__3sPol, .draftJsEmojiPlugin__emojiSelectButtonPressed__2Tezu {
  border: none !important;
}