.message-item {
    display: inline-block;
    width: 100%;
    margin-top: 12px;
}
.small-margin {
    margin-top: -2px;
}
.message-wrapper {
    display: flex;
    position: relative;
    z-index: 1;
}
.profile-wrapper {
    width: 32px;
    height: 32px;
    margin: 6px 5px;
}
.profile-message {
    width: 100%;
    border-radius: 50%;
}
.message-content {
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 9px 15px;
    flex: 1;

    p {
      max-width: 230px;
      word-wrap: break-word;
      margin: 0;
    }

    @media (min-width: 768px) {
      p {
        max-width: 383px;
      }
    }
}
.left-message-wrapper {
    float: left;
    margin-right: 51px;
}
.right-message-wrapper {
    float: right;
    margin-left: 51px;
}
.left-profile-wrapper {
    float: left;
    order: 1;
}
.right-profile-wrapper {
    float: right;
    order: 2;
}
.left-message-content {
    float: left;
    order: 2;
    background-color: white;
}
.right-message-content {
    float: right;
    order: 1;
    background-color: #3598DB;
    color: white;
}
.last-message {
    margin-bottom: 32px;
}

//message content
.hide {
  display: none;
}
.group-action-button-message {
    float: left;
}
.action-button-message {
    color: #3598DB;
    cursor: pointer;
    font-size: 12px;
}
.disabled-action-button-message {
    color: #acacac;
    cursor: default;
    font-size: 12px;
}
.textarea-private-reply {
    width: 100%;
    margin: -8px -40px -12px 0px;
    border: none;
    resize: none;
}
.textarea-private-reply:focus {
    outline: none;
}
.private-rep-btn {
    float: right;
    margin-right: 5px;
}
.private-rep-modal-footer-wrapper {
    display: block;
    width: 100%;
}
.spinner-message-item {
    display: inline-block;
}