.client-list {
    background-color: white;
    border-radius: 0px;
    width: 75px;
    height: 100%;
    margin: 0px 0px 0px 0px;
    box-shadow: 0;
    border-left: 1px solid #dedede;
}

.search-client {
    padding: 8px 0;
    margin: 0 12px;
    border-bottom: 1px solid #dedede;
    display: none;
}
.search-icon {
    width: 27px;
    height: 27px;
    float: left;
    margin: 4px 8px 0 0;
}
.input-search-client {
    border: none;
    font-size: 16px;
    overflow: hidden;
    flex: 2;
}
.input-search-client:focus {
    outline: none;
}

//client item
.client-item {
    cursor: pointer;
    padding: 10px 12px;
    background-color: white;
    display: flex;
    min-width: 75px;

    .not-seen {
      font-weight: 600;
      color: black;
    }
}
.client-profile-wrapper {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.client-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.name-and-message {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.icon-type {
  display: flex;
  flex-direction: row-reverse;
}
.client-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}
.lastest-message {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888888;
}
.selectedItem {
    background-color: #e1e3e5;
}
.client-list-spin {
    width: 28px;
    margin: auto;
    margin-bottom: 12px;
    margin-top: 12px;
}
.client-list-wrapper {
    height: 100%;
}
.scroll-list {
    height: 100%;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius:0 0 5px 5px;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
    //   background-color: rgba(0, 0, 0, 0.1);
    //   background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    .scroll-list {
        height: calc(100% - 48px);
    }
    .client-list {
        min-width: 250px;
        width: 22%;
        margin: 18px 0px 18px 24px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
        height: calc(100% - 18*2px);
    }
    .search-client {
        display: flex;
    }
}
