.information-tab {
    
}
.note-icon {
    margin: auto;
    width: 64px;
    padding: 48px 0;
    display: block;
}
.note-form {
    border: none;
    padding: 7px;
    width: 100%;
    border-bottom: 1px solid #dedede;
    background-color: #efef;
}
.note-form:focus {
    outline: none;
}
.create-form-tab {
  padding: 8px 12px;
}
.form-in-tab {
  border: 1px solid #cecece;
  border-radius: 3px;
  margin: 10px 0;
  display: flex;
}
.icon-in-tabform {
  padding: 4px 8px;
  color: #bcbcbc;
  float: left;
}
.input-in-tab {
  min-width: 100px;
  border: none;
  padding: 2px 5px;
  vertical-align: top;
  flex: 1;
}
.input-in-tab:focus {
  outline: none;
}
@media only screen and (min-width: 100px) and (max-width: 999px){
    .client-information-area {
        background-color: white;
        min-width: 234px;
        max-width: 234px;
        border-radius: 0px;
        height: 100%;
        margin: 0px;
        box-shadow: 0;
        border-left: 1px solid #dcdedf;
    }
}
@media only screen and (min-width: 1000px) {
    .client-information-area {
        background-color: white;
        max-width: 23%;
        min-width: 270px;
        border-radius: 5px;
        height: 100%;
        border-left: 1px solid #dcdedf;
    }
}
.notes-list {
    max-height: 190px;
    min-height: 190px;
    overflow-y: scroll;
    border-bottom: 1px solid #e2e2e2;
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar-track {
        display: none;
    }
    &::-webkit-scrollbar-thumb {
        display: none;
    }
}
.no-note {
    text-align: center;
    padding-top: 40px;
}
.note-text {
    padding: 7px;
    margin: 0;
    border-bottom: 1px solid #e2e2e2;
}
.note-date {
    font-weight: 600;
}
.order-title {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
}