.message-item {
    display: inline-block;
    width: 100%;
    margin-top: 12px;
}
.message-wrapper {
    display: flex;
}
.profile-wrapper {
    width: 32px;
    height: 32px;
    margin: 6px 8px;
}
.profile-message {
    width: 100%;
    border-radius: 50%;
}
.message-content {
    border-radius: 5px;
    padding: 12px 18px;
    flex: 1;
}
.left-message-wrapper {
    float: left;
    margin-right: 56px;
}
.right-message-wrapper {
    float: right;
    margin-left: 56px;
}
.left-profile-wrapper {
    float: left;
    order: 1;
}
.right-profile-wrapper {
    float: right;
    order: 2;
}
.left-message-content {
    float: left;
    order: 2;
    background-color: white;
}
.right-message-content {
    float: right;
    order: 1;
    background-color: #3598DB;
    color: white;
}
.last-message {
    margin-bottom: 32px;
}