.client-list {
    margin: 18px 15px 18px 24px;
    background-color: white;
    border-radius: 5px;
    height: 85vh;
}

//client item
.client-item {
    cursor: pointer;
    height: 64px;
    position: relative;
    padding-left: 12px;
    border-radius: 5px;
    background-color: white;
    display: flex;
}
.client-profile {
    border-radius: 50%;
    width: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 10px;
    align-items: center;
}
.client-name {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 15px;
    color: #1abc9c;
}
.lastest-message {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.name-and-message {
    display: flex;
    justify-content: center;
    min-width: 0;
    padding-right: 8px;
    flex-direction: column;
    overflow: hidden;
}