.input-message-area {
    border-top: 1px solid #cecece;
    padding: 7px 10px;
    width: 100%;
    height: 13vh;
}
.btn-group-vertical {
    float: right;
    padding-left: 8px;
}
.message-area {
    resize: none;
    border-radius: 5px;
    padding: 3px 8px;
    width: 100%;
}
.wrap-textarea {
    overflow: hidden;
}