.vertical-nav {
  background-color: white;
  max-width: 54px;
  min-width: 54px;
  height: 100%;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.vertical-nav-item {
  cursor: pointer;
  width: 54px;
  height: 54px;
  padding: 16px 16px;
}
.vertical-item-active {
  background: #e1e3e5;
}
