.input-wrapper {
    background-color: white;
    border-radius: 7px;
    margin: 0px 8px;
    padding: 10px 20px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.input-text {
    border: none;
    border-radius: 7px;
    flex: 1;
}
.input-text:focus {
    outline: none;
}
.group-button {
    float: right;
}
.attach-button {
    width: 26px;
    margin: 3px 10px 3px 15px;
    float: right;
}
.attach-button:hover {
    cursor: pointer;
}
.send-button {
    width: 32px;
    height: 32px;
    background-color: #3499DB;
    border-radius: 50%;
    padding: 7px 4px 7px 7px;
    float: right;
}
.send-button:hover {
    cursor: pointer;
}