.client-list {
    background-color: white;
    border-radius: 0;
    width: 75px;
    height: 100%;
    margin: 0;
    border-right: 1px solid #cacaca;
}

.search-client {
    padding: 9px 12px;
    border-bottom: 1px solid #cacaca;
    display: none;
}
.search-icon {
    width: 27px;
    height: 27px;
    float: left;
    margin: 4px 4px 0 0;
}
.input-search-client {
    border: none;
    font-size: 16px;
    overflow: hidden;
    flex: 2;
    margin-right: 4px;
}
.input-search-client:focus {
    outline: none;
}

//client item
.client-item {
    cursor: pointer;
    padding: 10px 12px;
    background-color: white;
    display: flex;
    min-width: 75px;

    .not-seen {
      font-weight: 600;
      color: black;
    }
}
.client-profile-wrapper {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.client-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.name-and-message {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.name-and-time {
    display: flex;
}
.updated-time {
    float: right;
    padding-top: 1px;
    margin-left: 3px;
}
.client-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    flex: 1;
}
.lastest-message {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888888;
}
.selectedItem {
    background-color: #eaecef;
}
.client-list-spin {
    width: 100%;
    margin: 12px auto;
}
.client-list-wrapper {
    height: 100%;
    overflow: hidden;
}
.scroll-list {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    border-radius:0 0 5px 5px;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-track {
    //   background-color: rgba(0, 0, 0, 0.1);
    //   background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
    }
}
.scroll-list:hover {
    .scroll-bar {
        display: initial;
    }
}

@media only screen and (min-width: 1000px) {
    .scroll-list {
        height: calc(100% - 48px);
    }
    .client-list {
        min-width: 250px;
        width: 22%;
        height: 100%;
    }
    .search-client {
        display: flex;
    }
}
.filter-tag-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.filter-tag {
    width: 13px;
    height: 18px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
}
.very-blur {
    opacity: 0.25;
}
.selected-filter-tag {
    width: 16px;
    height: 20px;
}
.client-item-tags {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.client-item-tag {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    border-radius: 4px;
}
.icon-type {
    display: inline-block;
    width: 22px;
}
    /*************** SCROLLBAR BASE CSS ***************/
     
    .scroll-wrapper {
        overflow: hidden !important;
        padding: 0 !important;
        position: relative;
    }
     
    .scroll-wrapper > .scroll-content {
        border: none !important;
        box-sizing: content-box !important;
        height: auto;
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none !important;
        overflow: scroll !important;
        padding: 0;
        position: relative !important;
        top: 0;
        width: auto !important;
    }
     
    .scroll-wrapper > .scroll-content::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
     
    .scroll-element {
        display: none;
    }
    .scroll-element, .scroll-element div {
        box-sizing: content-box;
    }
     
    .scroll-element.scroll-x.scroll-scrollx_visible,
    .scroll-element.scroll-y.scroll-scrolly_visible {
        display: block;
    }
     
    .scroll-element .scroll-bar,
    .scroll-element .scroll-arrow {
        cursor: default;
    }
     
    .scroll-textarea {
        border: 1px solid #cccccc;
        border-top-color: #999999;
    }
    .scroll-textarea > .scroll-content {
        overflow: hidden !important;
    }
    .scroll-textarea > .scroll-content > textarea {
        border: none !important;
        box-sizing: border-box;
        height: 100% !important;
        margin: 0;
        max-height: none !important;
        max-width: none !important;
        overflow: scroll !important;
        outline: none;
        padding: 2px;
        position: relative !important;
        top: 0;
        width: 100% !important;
    }
    .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
     
     
     
     
    /*************** SIMPLE INNER SCROLLBAR ***************/
     
    .scrollbar-inner > .scroll-element,
    .scrollbar-inner > .scroll-element div
    {
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
    }
     
    .scrollbar-inner > .scroll-element div {
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        background-color: transparent;
    }
     
    .scrollbar-inner > .scroll-element.scroll-x {
        bottom: 2px;
        height: 8px;
        left: 0;
        width: 100%;
    }
     
    .scrollbar-inner > .scroll-element.scroll-y {
        height: 100%;
        right: 0px;
        top: 0;
        width: 7px;
    }
     
    .scrollbar-inner > .scroll-element .scroll-element_outer {
        overflow: hidden;
    }
     
    .scrollbar-inner > .scroll-element .scroll-element_outer,
    .scrollbar-inner > .scroll-element .scroll-element_track,
    .scrollbar-inner > .scroll-element .scroll-bar {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
     
    .scrollbar-inner > .scroll-element .scroll-element_track,
    .scrollbar-inner > .scroll-element .scroll-bar {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: 0.6;
    }
     
    .scrollbar-inner > .scroll-element .scroll-element_track { background-color: transparent; }
    .scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; display: none}
    .scrollbar-inner:hover > .scroll-element .scroll-bar { display: block}
    .scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; display: block}
    .scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }
     
     
    /* update scrollbar offset if both scrolls are visible */
     
    .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
    .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
     
     
    .scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
    .scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }