.message-attachment-wrapper {
  display: inline-block;
  width: 100%;

  @mixin message-attachment {
    // max-width: 80%;
    border-radius: 5px;
    cursor: pointer;
  }
  .left-message-attachment {
    @include message-attachment;
    margin: 5px 0px 0px 51px;
    float: left;
  }
  .right-message-attachment {
    @include message-attachment;
    margin: 5px 51px 0px 0px;
    float: right;
  }
  .image_type {
    max-width: 80%;
  }
}
.has-message {
  margin-top: -2px;
}
.no-message {
  margin-top: -48px;
}
.in-the-middle {
  margin-top: -7px;
}
.sticker {
  max-width: 120px;
  max-height: 120px;
}