.information-tab {
    padding: 16px 12px;
}
.note-icon {
    margin: auto;
    width: 64px;
    padding: 48px 0;
    display: block;
}
.note-form {
    border: none;
    width: 100%;
    padding: 8px;
    background-color: #e8e8e8;
    border-radius: 7px;
}
.note-form:focus {
    outline: none;
}
.create-form-tab {
  padding: 8px 12px;
}
.form-in-tab {
  border: 1px solid #cecece;
  border-radius: 3px;
  margin: 10px 0;
  display: flex;
}
.icon-in-tabform {
  padding: 4px 8px;
  color: #bcbcbc;
  float: left;
}
.input-in-tab {
  min-width: 100px;
  border: none;
  padding: 2px 5px;
  vertical-align: top;
  flex: 1;
}
.input-in-tab:focus {
  outline: none;
}
@media only screen and (min-width: 100px) and (max-width: 999px){
    .client-information-area {
        background-color: white;
        min-width: 234px;
        max-width: 234px;
        border-radius: 0px;
        height: 100%;
        margin: 0px;
        box-shadow: 0;
    }
}
@media only screen and (min-width: 1000px) {
    .client-information-area {
        background-color: white;
        max-width: 23%;
        min-width: 270px;
        border-radius: 5px;
        height: 100%;
        border-left: 1px solid #dcdedf;
    }
}
