.info-chat {
  height: 7.8vh;
  border-bottom: 1px solid #dedede;
}
.info-client {
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
}
.title-chat {
  font-weight: 600;
  font-size: 15px;
}
.option {
  float: right;
  padding-top: 12px;
}
.message-status {
  font-size: 12px;
}
.icon-option {
  width: 22px;
  margin: 0 10px;
}
.block-icon {
  width: 17px;
}