.dashboard {
    min-width: 780px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f1f2f3;
}
.working-area {
    margin: 0;
    margin-left: 54px;
    .col-xs-4, .col-md-3, .col-xs-8, .col-md-6{
        padding: 0;
    }
    .client-information-area {
        overflow: hidden;
        min-width: 0px;
    }
}
.notifiy-no-conversation {
    font-size: 20px;
    text-align: center;
    margin-top: 128px;
}


