.info-chat {
  padding: 5px;
  border-bottom: 1px solid #dedede;
  height: 49px;
}
.info-client {
  display: inline-block;
  margin-left: 8px;
  max-width: 300px;
}
.title-chat {
  font-weight: 600;
  font-size: 15px;
}
.message-status {
  font-size: 12px;
}
.option {
  float: right;
  padding: 8px 0;
}
.icon-option {
  width: 24px;
  margin: 0 8px;
  cursor: pointer;
}