.message-item {
    display: inline-block;
    width: 100%;
}
.profile-message {
    width: 100%;
    border-radius: 50%;
}
.message-content {
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 85%;
}
.div-in-message {
    max-width: 85%;
    box-sizing: border-box;
}
.div-wrap-profile {
    width: 40px;
    height: 40px;
    margin: 0px 8px;
    display: inline-block;
}
.margintop-for-message {
    margin-top: 12px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.background-left-message {
    background-color: white;
}
.background-right-message {
    background-color: #A0DB8E;
}