.vertical-nav {
  background-color: white;
  max-width: 54px;
  min-width: 54px;
  height: 100%;
  float: left;
  border-right: 1px solid #e1e2e3;
}
.vertical-nav-item {
  cursor: pointer;
  width: 54px;
  height: 54px;
  padding: 16px 16px;
}
.vertical-item-active {
  background: #e1e3e5;
  border-right: 1px solid #e1e2e3;
}
