.textarea-new-post {
  width: 100%;
  resize: none;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  background-color: #f8fafb;
  &:focus {
    outline: none;
  }
}

.inmodal {
  .selected-pages {
    padding-left: 2px;
  }
}

.spin-wrapper {
  margin: auto;
  text-align: center;
}

.add-post-page-item {
  padding: 5px 0;
  .add-post-checkbox {
    display: inline-block;
    margin-right: 8px;
  }
  .page-name {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
  }
}

.add-post-image-wrapper {
  .image-wrapper {
    width: 124px;
    height: 124px;
    margin: 8px 10px 0 0;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    &:hover {
      .wrapper-hover {
        opacity: 1;
      }
    }
    .wrapper-hover {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      height: 100%;
      transition: .5s ease;
      opacity: 0;
      padding: 20px;
      i {
        &:hover {
          color: #FFF;
          cursor: pointer;
        }
        z-index: 1;
        position: absolute;
        top: 4px;
        font-size: 14px;
        right: 3px;
      }
    }
  }
  .border {
    border: 1px solid #cacaca;
    padding-top: 48px;
  }
  .image {
    width: 124px;
    height: 124px;
  }
}

.add-post-add-images {
  display: inline-block;
  position: relative;
  top: 20px;
  overflow: hidden;
  font-size: 14px;
  .add-image-button {
    height: 124px;
    width: 124px;
    display: inline-block;
    border: 2px dashed #cecece;
    background-color: #f8fafb;
    z-index: 10;
    position: relative;
    border-radius: 4px;
    margin: 8px 10px 0 0;
    .glyphicon-add {
      color: #cfcfcf;
      font-size: 30px;
      margin: 43px 47px;
      display: block;
    }
  }
  .add-image-button:hover {
    cursor: pointer;
  }
  #inputFile {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    width: 150px;
    height: 100px;
  }
  #inputFile:focus {
    outline: none;
  }
  #inputFile:hover {
    cursor: pointer;
  }
  &:hover {
    cursor: pointer;
  }
}

.tab-select-newpost {
  &:hover {
    background: #DDDFE2;
  }
  background: #F6F7F9;
  font-size: 12px;
  font-weight: bold;
  padding: 7px;
  margin-left: 19px;
  border-radius: 18px;
}

.icon-media {
  color: forestgreen;
  padding-right: 5px;
}

.body-editor {
  position: relative;
  bottom: 58px;
}

.editor-plugin {
  text-align: left;
  margin-top: 7px;
  margin-left: 10px;
  font-size: 15px;
}

.emojiSelect {
  font-size: 24px;
}

.time-video {
  position: absolute;
  bottom: 10px;
  right: 3px;
}