.post-item {
  padding: 10px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  min-height: 320px;
  max-height: 320px;
  display: flex;
  flex-direction: column;
  .content-wrapper {
    flex: 1;
    overflow: hidden;
  }
  .content {
    overflow: hidden;
  }
  .checkbox {
    margin: 0;
    padding-top: 10px;
  }
  .page-info {
    padding: 0 0 10px 0;
    .page-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .image-wrapper {
    .image {
      width: 96px;
      height: 96px;
      margin-right: 7px;
    }
  }
}