.create-form-tab {
  padding: 8px 12px;
}

.form-in-tab {
  border: 1px solid #cecece;
  border-radius: 3px;
  margin: 6px 0;
  display: flex;
}
.input-in-tab {
  min-width: 100px;
  border: none;
  padding: 2px 5px;
  vertical-align: top;
  flex: 1;
}
.input-in-tab:focus {
  outline: none;
}
.create-form-button {
  width: 100%;
  margin-top: 8px;
  background-color: #3598DB;
  border: none;
  padding: 4px;
  color: white;
  border-radius: 3px;
}
.create-form-button:hover {
  background-color: #2F88C5;
}
.icon-in-tabform {
  padding: 4px 8px;
  color: #bcbcbc;
  float: left;
}