.settings-wrapper {
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;

  .active {
    display: block;
    color: black;
    font-weight: 600;
    border-left: 3px solid #e36209;
  }
.nav-link:hover {
  background-color: #f0f5f5;

}
  .count-item {
    margin-left: 6px;
    margin-right: 28px;
  }

  .fms-block {
    //  border: 1px solid black;
    padding: 0 1em 0.5em;
    //padding-bottom:0.5em;
    //background-color: rgba(240,240,240, 1);
    //background-color:#FBFBFB;
  }

  .setting-header {
    //background-color: rgba(240,240,240, 1);
    color: black;
    font-size: 24px;
    // padding: 1em;
    margin-bottom: 0.5em;
    font-weight: normal;
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 8px;
  }
}

.tag-item-wrapper {
  padding: 5px 1em;

  * {
    display: inline-block;
    vertical-align: middle;
  }


  .color-preview {
    width: 40px;
    height: 34px;
    border: 1px solid black;
  }

  .tag-name {
    margin-left: 5px;
    min-width: 100px;
  }

  form {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 100px;

    .form-group {
      margin: 0;
    }
  }
}

.setting-sidebar {
  border: 1px solid #cecece;
  border-radius: 5px;


  ul {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    padding: 10px;

  }

  .nav-link {
    text-decoration: none;
    margin-left: -40px;
    border-bottom: 1px solid #e1e4e8;
    display: block;
        // color:#0366d6;
  }
}
.danger-zone {
  border: 1px solid #d73a49;
  border-radius: 5px;

  li {
    list-style-type: none;
  }
  p {
    display: inline-block;
    padding: 18px 3px 3px 3px;
    font-weight: 600;

  }
  button {
      display: inline-block;
      margin: 10px;
      float: right;
      color: #cb2431;
      font-weight: 600;
      background-color: #fafbfc;
  }
  button:hover{
    color: #fff;
    background-color: #b5202c;
  }
}

.noti {
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  .col {
    border-bottom:1px solid #e1e4e8;
  }
  .col:last-child {
    border-bottom: none;
}
  span {
    font-weight: 600;

  }
}
.delete-button {
  float: right;
padding-right: 7px;
padding-left: 7px;
margin-left: 5px;
line-height: 24px;
color: #cb2431;
cursor: pointer;
background-color: transparent;
border: none;
margin-top: 15px;
}
.disable-link {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
}
.body-confirm {
  button:last-child {
      display: inline-block;
      float: right;
      color: #cb2431;
      font-weight: 600;
      background-color: #fafbfc;
      border: 1px solid #ccc;
  }
  button:last-child:hover{
    color: #fff;
    background-color: #b5202c;
  }
}
.confirm-modal {
  margin-top: 14%;
}
