.client-information-area {
  .panel-body {
    padding: 0;
    height: calc(100vh - 110px);
  }
  .nav-tabs {
    height: 50px;
    border-bottom: 1px solid #cacaca;
    li {
      width: 50%;
    }
  }
  .dashboard-custom {
    height: 50px !important;
    border: none !important;
    border-bottom: 1px solid #cacaca !important;
    font-size: 15px;
    padding-top: 14px !important;
  }
  li.active > a {
    border-bottom: 2px solid #1ab394 !important;
  }
  li > a {
    padding: 0 !important;
    text-align: center;
  }
}